@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css">

<div class="button-wrapper">
    <a class="home-button border rounded-4" href="/Exercise/">Find an exercise</a>
    <a class="home-button border rounded-4" href="/Workout/">My workouts</a>
</div>