@model Workout

<!DOCTYPE html>

<html>
<head>
    <title>Add a New Workout</title>
</head>
<body>
<h2>Add a Workout</h2>
<div>
    @using (Html.BeginForm("CreateWorkoutToDatabase", "Workout", "Post"))
    {
        <input asp-for="WorkoutId" type="hidden" value="" />
    
        <label asp-for="WorkoutDate" class="control-label">Date</label>
        <input asp-for="WorkoutDate" type="date" name="WorkoutDate" id="date" class="form-control" />
    
        <label asp-for="ExerciseName" class="control-label">Exercise Name</label>
        <input asp-for="ExerciseName" type="text" name="ExerciseName" value="@ViewBag.ExerciseName" class="form-control" />
    
        @* <label asp-for="Sets" class="control-label">Sets</label> *@
        @* <input asp-for="Sets" type="number" step="1" name="Sets" class="form-control" /> *@
        @* *@
        @* <label asp-for="Reps" class="control-label">Reps</label> *@
        @* <input asp-for="Reps" type="number" step="1" name="Reps" class="form-control" /> *@
        
        <h3>Workout Sets</h3>
        <div id="sets-container">
            <div class="set-entry">
                @for (int i = 1; i <= Model.NumberOfSets; i++)
                {
                    <h4>Set @i</h4>
                    <input type="hidden" name="WorkoutSets[@i].SetNumber" value="@i" class="form-control"/>

                    <label>Reps</label>
                    <input type="number" name="WorkoutSets[@i].Reps" class="form-control"/>

                    <label>Weight</label>
                    <input type="number" name="WorkoutSets[@i].Weight" class="form-control"/>
                }
            </div>
        </div>

        <button type="button" id="add-set-button" class="btn btn-secondary">Add Set</button>
    
        <textarea asp-for="Notes" name="notes" rows="5" width="50%" placeholder="Enter any notes here..."></textarea>
    
        <input type="submit" value="Add Workout" class="btn btn-primary" />
    }

</div>

</body>
</html>