@model Workout

<!DOCTYPE html>

<html>
<head>
    <title>Add a New Workout</title>
</head>
<body>
<h2>Add a Workout</h2>
<div>
    @using (Html.BeginForm("CreateWorkoutToDatabase", "Workout", "Post"))
    {
        @* <input asp-for="WorkoutId" type="hidden" value="" /> *@
        
        
        <label asp-for="WorkoutDate" class="control-label">Date</label>
        <input asp-for="WorkoutDate" type="date" name="WorkoutDate" id="date" class="form-control" />
    
        <label asp-for="ExerciseName" class="control-label">Exercise Name</label>
        <input asp-for="ExerciseName" type="text" name="ExerciseName" value="@ViewBag.ExerciseName" class="form-control" />
        
        <h3>Sets</h3>
        <div id="sets-container">
            
            
            @for (int i = 0; i < 3; i++)

            {
                <div id="set-template">
                    <h4>Set @(i + 1)</h4>

                    <input type="hidden" name="Sets[@i].SetId" value="0" />
                    
                    <input type="hidden" name="Sets[@i].SetNumber" value="@(i + 1)" class="form-control"/>

                    <label>Reps</label>
                    <input type="number" name="Sets[@i].Reps" class="form-control"/>

                    <label>Weight</label>
                    <input type="number" name="Sets[@i].Weight" class="form-control"/>
                </div>
            }
            
        </div>

        <button type="button" id="add-set-btn" class="btn btn-secondary">Add Set</button>
    
        <textarea asp-for="Notes" name="notes" rows="5" width="50%" placeholder="Enter any notes here..."></textarea>
    
        <input type="submit" value="Add Workout" class="btn btn-primary" />
    }

</div>
<script>
    let setCount = @(Model.Sets == null || !Model.Sets.Any() ? 0 : Model.Sets.Count());
</script>
<script src="~/js/createWorkout.js"></script>
</body>
</html>