@model Workout

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<h2>Search for an Exercise</h2>

<input type="text" id="searchInput" placeholder="Enter exercise name..." />
<button onclick="searchExercise()">Search</button>
<div>

</div>
</body>
</html>